aclocal.m4
config.log
config.status
configure
Makefile
Makefile.in
.vscode/launch.json
.vscode/settings.json
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
include/config.h
include/config.h.in
include/stamp-h1
src/client_main.o
src/adduser_main.o
src/Client.o
src/FileDesc.o
src/LogMgr.o
src/my_adduser
src/passwd
src/PasswdMgr.o
src/server_main.o
src/server.log
src/Server.o
src/strfuncts.o
src/tcpclient
src/TCPClient.o
src/TCPConn.o
src/tcpserver
src/TCPServer.o
src/whitelist
src/.deps/adduser_main.Po
src/.deps/client_main.Po
src/.deps/Client.Po
src/.deps/FileDesc.Po
src/.deps/LogMgr.Po
src/.deps/PasswdMgr.Po
src/.deps/server_main.Po
src/.deps/Server.Po
src/.deps/strfuncts.Po
src/.deps/TCPClient.Po
src/.deps/TCPConn.Po
src/.deps/TCPServer.Po
